.normalTop {
    position: relative;
  }
  .normalTop::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #928168;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    color: white;
  }
  .normalTop:hover::before {
    height: 100%;
    color: white;
  }
  