.normalMiddle {
    position: relative;
    overflow: hidden;
}
  .normalMiddle::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 0%;
    background-color: #637ba0;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s;
  }
  .normalMiddle:hover::before {
    height: 100%;
    width: 100%;
    border-radius: 0%;
    color: white;
  }
  